


.topbar {
    background-image: linear-gradient( to right,#024717, #048a21, #ffffff);
    
    .topbar-left {
        background-image: linear-gradient( to right,#018b2b, #048a21, #ffffff);
    }
}

.l2{
    margin-top: 3.1%;
    background-color: rgb(251, 255, 0);
}