<div class="card">
    

    <div class="card">
        <h1>TIPO DE PROPOSIÇÃO</h1>
        <div class="card">

            <p> {{ proposicao.tipoProposicao.sigla }} - {{proposicao.tipoProposicao.nome}}</p> <h3>REGIME DE URGÊNCIA</h3>{{ proposicao.regimeDeUrgencia }}
        </div>
    </div>


<div class="card">
    <h1>EMENTA</h1>
    <div class="card">

        <p>{{proposicao.ementa}}</p>
    </div>
    
</div>
</div>


  












<!-- <p-dropdown [options]="tipoProposicao" [(ngModel)]="tipoProposicao" optionLabel="name" optionDisabled="inactive"></p-dropdown> -->