.cardDoc{

    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    font-weight:bold;
}
.titulo{
    color:rgb(26, 87, 11)
}

.but{
    display: flex; 
    align-items:flex-end;
    
    
}
.but2{
    display: flex; 
    align-items: center;
    margin: auto;

}