<h1 class="titulo">VISUALIZAR PROPOSIÇÃO</h1>

<div class="card">


    <div class="card">
        <h1>TIPO DE PROPOSIÇÃO</h1>
        <p> {{ proposicao.tipoProposicao.sigla }} - {{proposicao.tipoProposicao.nome}}</p>
        <div class="card">

            <h3>REGIME DE URGÊNCIA</h3>{{ proposicao.regimeDeUrgencia }}
        </div>
    </div>


    <div class="card">
        <h1>EMENTA</h1>
        <div class="card">

            <p>- {{proposicao.ementa}}</p>
        </div>
        <button type="button" pButton icon="pi pi-times" (click)="voltar()" label="Fechar"class="but"></button>


    </div>
    <h1>DOCUMENTOS</h1>
    <p-card (click)="showDialog(); colect(documento)" header="Nome" subheader="{{documento.nome}}" class="cardDoc" [style]="{width: '360px'}"
        styleClass="ui-card-shadow" *ngFor="let documento of proposicao?.documentos">


    </p-card>
</div>




<p-dialog [(visible)]="display" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <p-card header="Documentação" subheader="Nº {{documento.id}}" class="cardDoc" [style]="{width: '360px'}"
        >

        <div>
            <h2>Nome</h2>
            <h3>{{ documento.nome }} </h3>
            <h2>Texto</h2>
            <div class="card">
                <p>
                    {{documento.texto}}
                </p>
            </div>

        </div>

    </p-card>

    
    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Fechar" class = "but2"></button>
    
    </p-footer>
</p-dialog>















<!-- <p-dropdown [options]="tipoProposicao" [(ngModel)]="tipoProposicao" optionLabel="name" optionDisabled="inactive"></p-dropdown> -->